{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                  "esmodules": true
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "babel-plugin-styled-components",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-modules-commonjs"
    ]
}