{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": 12
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "babel-plugin-styled-components",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-throw-expressions",
        "@babel/plugin-syntax-dynamic-import"
    ]
}